extends roller

block above-roller
  table#clients
    thead
      tr
        th name
        th conns
        th extra dice
    tbody


block script
  script(type="text/javascript", src="/js/gm.bundle.js")
