extends roller

block above-roller
  table#clients
    thead
      tr
        th name
        th connections
        th class
    tbody

  #diceselector
    select
      option(value="none") &ndash;
      for className, classVal in classNames
        option(value=classVal)
          = className

block my-dice
  #my-dice
    for className, classVal in classNames
      if sidesByKind[classVal]
        img(data-kind=classVal, src=`/img/${classVal}.png`)


block script
  script(type="text/javascript", src="/js/gm.bundle.js")
