extends layout

block content
  form.join(action="/login/", method="POST")
    p
      label(for="username") Who are you?
      input#username(type="text",
                     name="username",
                     placeholder="t3h PeNgU1N oF d00m",
                     size="25")
      input(type="submit", name="join_player", value="Play")
      input(type="submit", name="join_gm", value="GM")

  div(style="display: flex; align-items: center;")
      img(style="width: 25%; min-width: 200px; max-width: 662px;",
          src="http://diecomic.com/wp-content/uploads/2019/06/DIE-RPG-Beta-cover-662x1024.jpg")
