extends layout

block content
  form.join(action="/login/", method="POST")
    p
      label(for="nickname") Who are you?
      input#nickname(type="text",
                     name="nickname",
                     placeholder="t3h PeNgU1N oF d00m",
                     size="20")
      input(type="submit", value="Join")

  div(style="display: flex; align-items: center;")
      img(style="width: 25%; min-width: 200px; max-width: 662px;",
          src="http://diecomic.com/wp-content/uploads/2019/06/DIE-RPG-Beta-cover-662x1024.jpg")
