extends layout

block content
  form.join(action="/login/", method="POST")
    p
      label(for="username") Who are you?
      input#username(type="text",
                     name="username",
                     placeholder="t3h PeNgU1N oF d00m",
                     size="25")
      input(type="submit", name="join_player", value="Play")
      input(type="submit", name="join_gm", value="GM")

  div(style="display: flex; align-items: center;")
      img(style="width: 25%; min-width: 200px; max-width: 662px;",
          src="http://diecomic.com/wp-content/uploads/2019/06/DIE-RPG-Beta-cover-662x1024.jpg")

  p.
    The #[a(href="http://diecomic.com/rpg/") game itself], including linked character sheets, is by Kieron Gillen, but you already knew that.
  p.
    Dice images are blatantly stolen from #[a(href="https://www.amazon.com/Polyhedral-Dungeons-Dragons-Starry-Purple/dp/B07Z68SYMS") eBoot] and The Game Crafter (#[a(href="https://www.thegamecrafter.com/parts/d6-16mm-white") here] and #[a(href="https://www.thegamecrafter.com/parts/d6-16mm-red") here]).
    Dice designs are by #[a(href="http://jesseross.com/") Jesse Ross]
    and stolen without permission from #[a(href="https://rollforyour.party/") rollforyour.party].
    I'll get permission or make new images before "launching" for real.
  p.
    Website made by #[a(href="https://djsutherland.ml") Danica Sutherland] - #[a(href="https://github.com/djsutherland/dire/") source].
