extends layout

block content
  p#welcome(data-nickname=nickname) Welcome, #{nickname}

  #roller
    #dice
      img(data-kind="dictator", src="/img/d4.png")
      for i in [1, 2, 3, 4, 5, 6]
        img(data-kind="d6", src="/img/d6.png")
    #controls
      button#roll(data-nickname=nickname) Roll!

  #rolls

  script(type="text/javascript", src="/js/rolls-bundle.js")
