extends layout

block content
  #metadata(data-username=username, data-role=role)

  #error

  #the-content
    block notify-button
      #notify-alert
        p
          | I'd like permission to notify you when someone uses a safety tool:
          = ' '
          button#enable-notifications Enable notifications
          br
          | (Or: press the button and deny permissions to make this go away.)

    block above-roller

    #roller
      svg#svgfield(viewBox="0 0 1000 200" version="1.1" xmlns="http://www.w3.org/2000/svg")
        rect#tablerect(x="100" width="800" height="125" y="50" rx="20" fill="rgb(20, 112, 37)")

      #dice
        block my-dice
        block base-dice
          for i in [1, 2, 3, 4, 5, 6]
            img(data-kind="d6", src="/img/d6.png")
          img(id="bad-die", data-kind="bad", src="/img/bad.png")
      #controls
        span(style="width: 30%")
          block left-controls
        span(style="width: 30%")
          button#roll Roll!
        span(style="width: 30%")
          | d6es:
          button#fewer-d6 -
          button#more-d6 +

    #safety
      label
        a(href="https://briebeau.com/thoughty/script-change/" target="_blank") Safety tools:
      select#safety-anon(name="anon")
        option(value="anon", selected="selected") Anonymously
        option(value="notanon") As &ldquo;#{username}&rdquo;
      input#safety-text(type="text", name="text", placeholder="Optional: say why / how to fix?", size=30)
      .buttons
        button(name='x-card') ❌ Card
        button(name='rewind') ⏪ Rewind
        button(name='pause') ⏸️ Pause
        button(name='slow') ⚠️ Careful
        button(name='fast-forward') ⏩️ Fast-forward

    #chat
      form#chat-form
        label(for="chatbox") Chat message:
        input#chatbox(type="text", name="text", placeholder="Hey everyone!")
        input(type="submit", value="Send")

    block after-chat

    #rolls

    block after-roller
