/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #525286;
    color: white;
}

#metadata {
    display: none;
}

#error {
    width: 100%;
    display: none;  /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 10px;
}

.join input {
    margin-left: 10px;
}

main * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#roller {
    width: 90%;
    overflow-x: scroll;
    background-color: #ccc;
    margin: 20px auto;
    padding: 10px;
}

#dice {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dice img {
    box-sizing: content-box;
    height: 75px;
    margin: 0 5px;
    padding: 5px;
    border: 2px solid #ccc;
}
#dice img.selected {
    border: 2px solid red;
    background-color: #aaa;
}

#controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#controls button {
    font-size: 16pt;
}

#rolls {
    display: flex;
    flex-direction: column;
}
.result {
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.result:not(:last-of-type) {
    border-bottom: none;
}
.result .meta {
    text-align: center;
    padding-right: 5px;
    border-right: 1px solid black;
    width: 8em;
    overflow-wrap: break-word;
}
.result .meta .name { }
.result .meta .name.GM .role {
    font-weight: bold;
}
.result .meta .time { font-size: 70%; }
.result .dice {
    width: 30em;
}
.result .dice span {
    padding: 0 20px;
}
