/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #b23;
}

.msg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e55;
    color: black;
    padding: 10px;
}

#metadata, #diceselector {
    display: none;
}

#error {
    width: 100%;
    display: none;  /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 10px;
}

#notify-alert {
    width: 100%;
    display: none;  /*display: flex;*/
    justify-content: center;
    align-items: center;
    background-color: #edde32;
    color: black;
    padding: 5px;
}

.join input {
    margin-left: 10px;
}

main * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#class-controls > * {
    margin: 5px auto;
}

#roller {
    width: 100%;
    overflow-x: scroll;
    background-color: #ccc;
    margin-top: 5px;
    padding: 10px;
}

#dice {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dice img {
    box-sizing: content-box;
    height: 75px;
    margin: 0 5px;
    padding: 5px;
    border: 2px solid #ccc;
}
#dice img.selected {
    border: 2px solid red;
    background-color: #aaa;
}

#controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#controls button {
    font-size: 16pt;
}

#chatbox, #emotebox {
    width: 60%;
    margin: 10px;
}

#safety {
    background-color: #d294e0;
    margin: 0;
}
#safety > * {
    margin: 5px 0.75em;
}
#safety .buttons {
    display: inline-block;
}
#safety .buttons button {
    margin: 0 2px;
}

#rolls {
    display: flex;
    flex-direction: column;
}
.result {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
}
.result:not(:last-of-type) {
    border-bottom: none;
}
.result.safety {
    background-color: #ff3030;
}
.result .meta {
    text-align: center;
    padding-right: 5px;
    /*border-right: 1px solid black;*/
    width: 8em;
    height: 100%;
    overflow-wrap: break-word;
}
.result .meta .name { }
.result .meta .name.GM .role {
    font-weight: bold;
}
.result .meta .time { font-size: 70%; }
.result .body {
    width: 30em;
    text-align: left;
}

.result.chat {
    background-color: #ffd;
}
.result.user-status {
    background-color: #ffc266;
}
.result.user-status .body {
    font-style: italic;
}

/* dice rolls */
.result.rolls .body span {
    padding: 2px 10px;
    margin: 2px 10px;
    display: inline-block;
}
.result.rolls .body span[data-kind="bad"] {
    color: red;
}
.result.rolls .body span:not([data-kind="d6"]):not([data-kind="bad"]) {
    color: purple;
}
.result.rolls .body span.success {
    background-color: #afa;
}
.result.rolls .body span.success[data-kind="bad"] {
    background-color: #ffdfdf;
}
